@font-face{
  font-family: "Lato";
  src: url("css/Lato.ttf") format("truetype");
}

body, html
{
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato";
  color: #777;
  scroll-behavior: smooth;
}

.mainSec, .mediaSec, .aboutSec
{
  position: relative;
  opacity: 1;
  background-position: center;
  background-size:contain;
}

.bigBlock
{
  text-align: center;
}

.inner
{
  display:inline-block;
  height:100%;
}

#mainImg
{
  position: absolute;
  right: 0;
  bottom: 0;
  height:100%;
  width:100%;
  z-index: -100;
  overflow: hidden;
}

a
{
  text-decoration:none;
}

h3
{
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato";
  color: #111;
}

.mainSec
{
  min-height: 100%;
}

.mediaSec
{
  min-height: 85%;
}

.aboutSec
{
  min-height: 85%;
}

.caption
{
  position: absolute;
  left: 0;
  top: 5%;
  width: 100%;
  text-align: center;
  color: #000;
  height:100%;
}

.footer
{
  position:relative;
  margin-top:2%;
  bottom:0;
  width:100%;
  left:0;
  background-color:black;
}

.footer p
{
  margin-left: 5%;
}

@-webkit-keyframes bluePulse
{
  from {color:white; background-color: rgb(30, 30, 30,0.4); -webkit-box-shadow: 0 0 9px #7FC2F3;}

  to { background-color:rgb(200, 200, 200,0.8); -webkit-box-shadow: 0 0 18px white; }
}
/*background-color: rgb(25, 187, 231,0.4);  -webkit-box-shadow: 0 0 9px #7FC2F3;*/

a.downloadButton
{
  -webkit-animation-name: bluePulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-direction:alternate;
  -webkit-animation-iteration-count: infinite;
  position: relative;
  display: inline-block;
  bottom:90px;
  margin-top: 35px;
  padding: 15px 25px;
  background-image: linear-gradient(lightblue,gray;);
  /*for compatibility with older browsers*/
  background-color: rgb(15, 105, 172,0,4);

  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: "Lato";
  font-weight: 100;
  border-top-style: hidden;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
  border-radius:20px;
}

.coolbanner
{
  color: rgba(0, 0, 0, 0.72);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  box-shadow:
  2px 2px 0.5em rgba(122, 122, 122, 0.55),
  inset 1px 1px 0 rgba(255, 255, 255, 0.9),
  inset -1px -1px 0 rgba(0, 0, 0, 0.5)
  ;
  border: 1px solid #cacade;
  background:
  -moz-linear-gradient(
    -72deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #555564 27%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
    );
  background:
  -webkit-linear-gradient(
    -72deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #555564 27%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
    );
  background:
  -o-linear-gradient(
    -72deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #555564 27%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
    );
  background:
  linear-gradient(
    -72deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #555564 27%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
    );
  }

a.downloadButton:hover
{
  background: radial-gradient(circle, rgba(106,186,221,1) 0%, rgba(21,23,27,1) 100%);
}

.caption
{
  height:100%;
  top:0px;
}

.navMenu
{
	overflow: hidden;
	background-color: #333;
}

.navMenu a {
  float: left;
  color: #00C4FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navMenu a:hover {
  background-color: #00D1FF;
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.navAbout, .navMedia, .navBlog, .navWiki, .navMenu p
{
  color: white;
  font: 20px "Lato";
}

#myBtn
{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(51, 204, 255,0.4);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}

#myBtn:hover
{
  background-color: #555;
}

.flexibleBox
{
  justify-content: center;
  background-color: rgba(11, 24, 43,0.8);
  width:100%;
  height:90%;
  padding-top: 7%;
  display:flex;
  flex-wrap: wrap;
  z-index: -1;
}

.expImg>img
{
  width:100%;
  height:100%;
  object-fit:contain;
  border-style: groove;
}

.expImg
{
  padding:5px;
  width:40%;
  height:40%;
}

@media screen and (max-width: 600px)
{
  .expImg
  {
    width:100%;
  }
}

.mainBanner
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../media/backgroundImg.jpg"); 
  background-size: 100% 100%;
}

.pitchVideo
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}

.pitchVideo iframe{
  position: relative;
  width: 100%;
  height: 92%;
}

.infoBars
{
  position: relative;
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 20%;
  max-width: 20%;
  padding: 0 10px;
}

.column img {
  margin-top: 15px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
